*.vscode/*
*Modules/*
!Modules/posh-git
!Modules/posh-vcpkg
!Modules/ChocolateyProfile
!Modules/PSPocs
!Modules/PSVirtualEnv
!Modules/PSIni
!Modules/SciProfile
!Modules/PSModuleUtils
*SciProfile/utils.ps1
*Scripts/*
*Packages/*
*Install/*